/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f2e0;
    color: #4c3c32;
}

header {
    background-color: #302623ff;
    box-shadow: 0 2px 5px #BC6A3Dff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 90px;
    max-width: 70px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #BC6A3Dff;
    font-size: large;
    font-weight: bold;
    transition: color 0.3s;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	transition-property: color, background;
}

nav a i {
    font-size: 18px;
	margin-left: -5px;
	margin-right: 5px;
	margin-top: 10px;
}

nav a:hover {
    color: #ffffff;
    background: #4c3c32;
}

.about {
    padding: 110px 0;
    text-align: center;
    background-color: #ede4d6;
}

.about img {
    margin-top: -100px;
    max-width: 200px;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.history {
    padding: 30px 0;
    text-align: center;
    background-color: #ede4d6;
}


.history h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.history p {
    font-size: 18px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.num p {
    font-size: 18px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

.Team {
    padding: 50px 0;
    text-align: center;
    background-color: #ede4d6;
}

.Owner {
    justify-content: space-between;
    margin-top: 50px;
}

.Owner ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.Staff {
    justify-content: space-between;
    margin-top: 50px;
}

.Staff ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;  
}

.member img {
    width: 160px;
    height: 220px;
    justify-content: center;
    border: 2px solid rgb(56, 40, 32);
    border-radius: 13px;
    box-shadow: 1px 5px 5px 0px #4a4745;
    margin: 20px;
}

.member {
    max-width: 290px;
}

.member h2{
    margin-top: -15px;
}

.member p{
    font-size: 20px;
}

.mission {
    padding: 30px 0;
    text-align: center;
    background-color: #302623ff;
}

.mission h2 {
    color: #BC6A3Dff;
}

.mission p {
    font-size: 18px;
    color: #BC6A3Dff;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a {
    text-decoration: none;
    color: #BC6A3Dff;
    font-size: large;
    font-weight: bold;
    transition: color 0.3s;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	transition-property: color, background;
}

footer nav a:hover {
    color: #ffffff;
    background: #BC6A3Dff;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 250px;
    margin-left: 150px;
    margin-bottom: 15px;

}

footer h2{
    font-size: medium;
    margin-bottom: 10px;
}

.contact ul{
    margin-left: 120px;
    list-style: none;
    gap: 80px;
    justify-content: center;
    display: flex;
}

.contact li{
    font-size: 16px;
    margin-bottom: 10px;
}

.contact i{
    margin-right: 5px;
}


.socmed ul{
    list-style: none;
    gap: 25px;
    justify-content: center;
    display: flex;
}

.socmed i {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 15px;
    color: white;
}

.socmed a {
    color: white;
    text-decoration: none;
}
