body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f2e0;
    color: #4c3c32;
}

header {
    background-color: #302623ff;
    box-shadow: 0 2px 5px #BC6A3Dff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 90px;
    max-width: 70px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #BC6A3Dff;
    font-size: large;
    font-weight: bold;
    transition: color 0.3s;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	transition-property: color, background;
}

nav a i {
    font-size: 18px;
	margin-left: -5px;
	margin-right: 5px;
	margin-top: 10px;
}

nav a:hover {
    color: #ffffff;
    background: #4c3c32;
}

.contact_us {
    /*padding: 200px 0;
    background-image: url("../img/BG1_Img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #ffffff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #4c3c32;
    color: #ffffff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.contact_us h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact_us p {
    font-size: 18px;
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #000;
}

button {
    background: #4c3c32;
    width: 100px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #4c3c32;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding: 20px;
}

tr td {
    padding-top: 20px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a {
    text-decoration: none;
    color: #BC6A3Dff;
    font-size: large;
    font-weight: bold;
    transition: color 0.3s;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	transition-property: color, background;
}

footer nav a:hover {
    color: #ffffff;
    background: #BC6A3Dff;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 250px;
    margin-left: 150px;
    margin-bottom: 15px;

}

footer h2{
    font-size: medium;
    margin-bottom: 10px;
}

.contact ul{
    margin-left: 120px;
    list-style: none;
    gap: 80px;
    justify-content: center;
    display: flex;
}

.contact li{
    font-size: 16px;
    margin-bottom: 10px;
}

.contact i{
    margin-right: 5px;
}


.socmed ul{
    list-style: none;
    gap: 25px;
    justify-content: center;
    display: flex;
}

.socmed i {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 15px;
    color: white;
}

.socmed a {
    color: white;
    text-decoration: none;
}
